In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('show_no_show.csv')

In [5]:
df.set_index('AppointmentID', inplace=True)

In [9]:
df.drop(columns=["AppointmentDay","Unnamed: 0","AppointmentDay","PatientId"], inplace= True)

In [10]:
df.head()

,Gender,ScheduledDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
AppointmentID,,,,,,,,,,,
5642903,F,2016-04-29T18:38:08Z,62,JARDIM DA PENHA,0,1,0,None,0,0,No
5642503,M,2016-04-29T16:08:27Z,56,JARDIM DA PENHA,0,0,0,None,0,0,No
5642549,F,2016-04-29T16:19:04Z,62,MATA DA PRAIA,0,0,0,None,0,0,No
5642828,F,2016-04-29T17:29:31Z,8,PONTAL DE CAMBURI,0,0,0,None,0,0,No
5642494,F,2016-04-29T16:07:23Z,56,JARDIM DA PENHA,0,1,1,None,0,0,No